---
# --------------------------------
# Pre-workload: gather cluster info
# --------------------------------
- name: Get IngressController wildcard domain
  kubernetes.core.k8s_info:
    kind: IngressController
    name: default
    namespace: openshift-ingress-operator
  register: r_ingress_controller

- name: Set wildcard domain fact
  ansible.builtin.set_fact:
    _ocp4_workload_microshift_wildcard_domain: "{{ r_ingress_controller.resources[0].status.domain }}"

# --------------------------------
# Create namespace and secrets
# --------------------------------
- name: Create namespace {{ ocp4_workload_microshift_vm_namespace }}
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ocp4_workload_microshift_vm_namespace }}"
        annotations:
          openshift.io/description: "MicroShift Virtual Machine"
          openshift.io/display-name: "MicroShift Virtual Machine"

- name: Get pull-secret from openshift-config
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: pull-secret
    namespace: openshift-config
  register: ocp_pull_secret

- name: Create pull-secret in {{ ocp4_workload_microshift_vm_namespace }}
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: openshift-pull-secret
        namespace: "{{ ocp4_workload_microshift_vm_namespace }}"
      type: Opaque
      data:
        openshift-pull-secret: "{{ ocp_pull_secret.resources[0].data['.dockerconfigjson'] }}"

- name: Create AWS S3 credentials secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: aws-s3-microshift-credentials
        namespace: "{{ ocp4_workload_microshift_vm_namespace }}"
      type: Opaque
      stringData:
        accessKeyId: "{{ ocp4_workload_microshift_s3_access_key }}"
        secretKey: "{{ ocp4_workload_microshift_s3_secret_key }}"
        region: "{{ ocp4_workload_microshift_s3_region | default('us-east-1') }}"
  when:
    - ocp4_workload_microshift_s3_access_key is defined
    - ocp4_workload_microshift_s3_secret_key is defined

# --------------------------------
# Generate SSH keypair on bastion
# --------------------------------
- name: Generate SSH keypair for the MicroShift VM
  delegate_to: bastion
  become: true
  become_user: "{{ ocp4_workload_microshift_bastion_user }}"
  block:
    - name: Create openssh keypair
      community.crypto.openssh_keypair:
        path: "{{ ocp4_workload_microshift_vm_ssh_key }}"
        owner: "{{ ocp4_workload_microshift_bastion_user }}"
        group: users
        mode: "0600"
      register: r_microshift_key

    - name: Read the public key
      ansible.builtin.slurp:
        src: "{{ ocp4_workload_microshift_vm_ssh_key }}.pub"
      register: r_microshift_public_key

# --------------------------------
# Deploy KubeVirt VM and networking
# --------------------------------
- name: Create MicroShift VM resources
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
  loop:
    - kubevirt/vm-microshift-pvc.yaml.j2
    - kubevirt/vm-microshift.yaml.j2
    - kubevirt/vm-microshift-service.yaml.j2
    - kubevirt/vm-microshift-route-ingress.yaml.j2
    - kubevirt/vm-microshift-route-api.yaml.j2

- name: Wait for MicroShift VM to be ready
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ ocp4_workload_microshift_name }}"
    namespace: "{{ ocp4_workload_microshift_vm_namespace }}"
  register: vm_microshift
  retries: 180
  delay: 30
  until:
    - vm_microshift.resources[0].status is defined
    - vm_microshift.resources[0].status.ready is true

# Allow MicroShift services to fully start inside the VM
- name: Pause for MicroShift services to initialize
  ansible.builtin.pause:
    seconds: 90

# --------------------------------
# Copy kubeconfig from VM to bastion
# --------------------------------
- name: Set up MicroShift kubeconfig on bastion
  delegate_to: bastion
  become: true
  become_user: "{{ ocp4_workload_microshift_bastion_user }}"
  block:
    - name: Retrieve kubeconfig from MicroShift VM
      ansible.builtin.shell: >-
        virtctl ssh
        cloud-user@{{ ocp4_workload_microshift_name }}.{{ ocp4_workload_microshift_vm_namespace }}
        --identity-file={{ ocp4_workload_microshift_vm_ssh_key }}
        --local-ssh-opts="-o StrictHostKeyChecking=no"
        --command='{{ item }}'
      loop:
        - sudo cat /var/lib/microshift/resources/kubeadmin/kubeconfig > /home/cloud-user/.kube/config
        - chmod go-r /home/cloud-user/.kube/config

    - name: Copy kubeconfig to bastion
      ansible.builtin.shell: >-
        virtctl scp
        cloud-user@{{ ocp4_workload_microshift_name }}.{{ ocp4_workload_microshift_vm_namespace }}:/home/cloud-user/.kube/config
        {{ ocp4_workload_microshift_vm_kubeconfig }}
        --identity-file={{ ocp4_workload_microshift_vm_ssh_key }}
        --local-ssh-opts="-o StrictHostKeyChecking=no"

    - name: Replace localhost API URL with routed URL in kubeconfig
      ansible.builtin.replace:
        path: "{{ ocp4_workload_microshift_vm_kubeconfig }}"
        regexp: 'https://127.0.0.1:6443'
        replace: "https://api-{{ ocp4_workload_microshift_vm_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}"

# --------------------------------
# Report access information
# --------------------------------
# yamllint disable rule:line-length
- name: Report MicroShift access information
  agnosticd.core.agnosticd_user_info:
    msg: "{{ item }}"
  loop:
    - "MicroShift Demo: http://ingress-{{ ocp4_workload_microshift_vm_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}"
    - "MicroShift API access from Bastion: KUBECONFIG={{ ocp4_workload_microshift_vm_kubeconfig }} oc get pods --all-namespaces --insecure-skip-tls-verify"
    - "MicroShift SSH access from Bastion: virtctl ssh cloud-user@{{ ocp4_workload_microshift_name }}.{{ ocp4_workload_microshift_vm_namespace }} --identity-file={{ ocp4_workload_microshift_vm_ssh_key }}"

- name: Save MicroShift access data
  agnosticd.core.agnosticd_user_info:
    data:
      microshift_demo: "http://ingress-{{ ocp4_workload_microshift_vm_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}"
# yamllint enable rule:line-length
